@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: "Epilogue", sans-serif;
}

body {
  background-color: #000;
}

@theme {
  --color-primary: #D8FF36;

  @keyframes eqBar1 {

    0%,
    100% {
      height: 20%;
    }

    50% {
      height: 90%
    }
  }

  @keyframes eqBar2 {

    0%,
    100% {
      height: 40%;
    }

    50% {
      height: 100%
    }
  }

  @keyframes eqBar3 {

    0%,
    100% {
      height: 70%
    }

    50% {
      height: 30%
    }
  }

  @keyframes eqBar4 {

    0%,
    100% {
      height: 30%
    }

    50% {
      height: 80%
    }
  }

  @keyframes pulseRing {
    0% {
      transform: scale(1);
      opacity: 1;
    }

    70% {
      transform: scale(1.4);
      opacity: 0
    }

    100% {
      transform: scale(1);
      opacity: 0
    }
  }

  @keyframes bubbleOne {
    0% {
      bottom: -20%;
      right: -10%;
      opacity: 0;
      transform: scale(.3);
    }

    50% {
      bottom: 0;
      right: 0;
      opacity: 1;
      transform: scale(1.05);
    }

    100% {
      bottom: 0;
      right: 0;
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes bubbleTwo {
    0% {
      bottom: 0px;
      left: -40%;
      opacity: 0;
      transform: scale(0.25);
    }

    50% {
      bottom: 30%;
      left: 0px;
      opacity: 1;
      transform: scale(1);
    }

    100% {
      bottom: 30%;
      left: 0px;
      opacity: 1;
      transform: scale(1);
    }
  }

  @keyframes bubbleThree {
    0% {
      bottom: 30%;
      left: 30%;
      opacity: 0;
      transform: scale(0.35);
    }

    50% {
      bottom: 63%;
      left: 57%;
      opacity: 1;
      transform: scale(1);
    }

    100% {
      bottom: 63%;
      left: 57%;
      opacity: 0;
      transform: scale(1)
    }
  }

  @keyframes novaCtaCircle {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(0.85);
    }

    100% {
      transform: scale(1)
    }
  }

  @keyframes novaCtaCircleTwo {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(0.75);
    }

    100% {
      transform: scale(1);
    }
  }

  @keyframes novaCtaCircleThree {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(0.65);
    }

    100% {
      transform: scale(1);
    }
  }
}

@layer utilities {
  .animate-eq1 {
    animation: eqBar1 1s infinite ease-in-out;
  }

  .animate-eq2 {
    animation: eqBar2 1.1s infinite ease-in-out;
  }

  .animate-eq3 {
    animation: eqBar3 0.9s infinite ease-in-out;
  }

  .animate-eq4 {
    animation: eqBar4 1.2s infinite ease-in-out;
  }

  .nova-bubble .bubbleOne {
    animation: 2.5s cubic-bezier(0.3, 0, 0.3, 1) 0s 1 normal forwards running bubbleOne;
  }

  .nova-bubble .bubbleTwo {
    animation: 1.5s cubic-bezier(0.3, 0, 0.3, 1) 0s 1 normal forwards running bubbleTwo;
  }

  .nova-bubble .bubbleThree {
    animation: 2.s cubic-bezier(0.3, 0, 0.3, 1) 0s 1 normal forwards running bubbleThree;
  }
}

.nova-bubble {
  position: absolute;
  right: 0;
  bottom: -60;
  width: 142px;
  height: 152px;
  pointer-events: none;
}

.bubbleOne animation {
  bottom: 0px;
  transform: scale(1);
  right: 0px;
  opacity: 1;
}

.nova-bubble .bubble-1 {
  position: absolute;
  width: 65px;
  height: 65px;
  bottom: -20%;
  right: -10%;
  opacity: 0;
  transform: scale(0.3);
  border-radius: 100%;
  background: rgb(216, 255, 54);
}

.bubbleTwo animation {
  bottom: 30%;
  transform: scale(1);
  left: 0;
  opacity: 1;
}

.nova-bubble .bubble-2 {
  position: absolute;
  width: 45px;
  height: 45px;
  bottom: 0;
  left: -40%;
  opacity: 0;
  transform: scale(0.25);
  border-radius: 100%;
  background: rgb(216, 255, 54);
}

.bubbleThre animation {
  bottom: 63%;
  transform: scale(1);
  left: 57%;
  opacity: 1;
}

.nova-bubble .bubble-3 {
  position: absolute;
  width: 35px;
  height: 35px;
  bottom: 30%;
  left: 30%;
  opacity: 0;
  transform: scale(0.5);
  border-radius: 100%;
  background: rgb(216, 255, 54);
}

.service-item::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  top: 50%;
  left: -50%;
  background-color: var(--color-primary);
  border-radius: 50%;
  transition: 0.5s ease-in-out;
  z-index: -1
}

.service-item:active:hover:after {
  width: 100%;
  height: 100%;
}

.service-item.active .nova-bubble .bubble-1 {
  animation: bubbleOne 2.5 cubic-bezier(.3, 0, .3, 1) forwards;
}

.service-item.active .nova-bubble .bubble-2 {
  animation: bubbleTwo 1.5s cubic-bezier(.3, 0, .3, 1) forwards;
}

.service-item.active .nova-bubble .bubble-3 {
  animation: bubbleThree 2s cubic-bezier(.3, 0, .3, 1) forwards;
}

.btn {
  padding: 0 30px;
  position: relative;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  color: #000;
  font-weight: 700;
  height: 66px;
  line-height: 66px;
  text-decoration: none;
  outline: none !important;
  cursor: pointer;
  border: none;
  text-align: center;
  background-color: var(--color-primary);
  transition: all .4s cubic-bezier(.3, 0, .3, 1);
}

.btn::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: white;
  transition: all .4s cubic-bezier(.3, 0, .3, 1);
}

.btn:hover::after {
  height: 100%;
  top: 0;
  bottom: auto;
}



.btn:hover span {
  color: #000;
}

.btn svg {
  margin: 0 10px 0 -10px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 30px;
  text-align: center;
  padding: 3px;
  transform: scale(.87);
  background-color: white;
  color: #000;
  transition: all .4s cubic-bezier(.3, 0, .3, 1);
  z-index: 2;
}


.btn:hover svg {
  background-color: #000;
  color: white
}

.btn:hover svg {
  transform: scale(1);
}

.btn span {
  position: relative;
  display: inline-block;
  z-index: 2;
}

.team-item::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 900px;
  height: 900px;
  scale: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -450px 0px 0px -450px;
  border-radius: 50%;
  background-color: var(--color-primary);
  transition: .3s ease-in-out;
  z-index: -1;
}

.team-item:hover::after {
  scale: 1;
}

.contact {
  background-image: url(assets/cta-bg-1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.contact-image {
  position: absolute;
  right: 100px;
  bottom: -100px;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 100% center;
  background-image: url(assets/cta-circle2.png);
}

.cat-img-circle {
  position: absolute;
  background-color: rgb(216, 255, 54);
  border-radius: 100%;
}

.img-circle--1 {
  right: -40px;
  top: 50px;
  width: 140px;
  height: 140px;
  animation: 4.5s cubic-bezier(0.3, 0, 0.3, 1) 0s infinite normal none running novaCtaCircle;
}

.img-circle--2 {
  right: 150px;
  top: -40px;
  width: 110px;
  height: 110px;
  animation: 5.5s cubic-bezier(0.3, 0, 0.3, 1) 0s infinite normal none running novaCtaCircleTwo;
}

.img-circle--3 {
  right: 20px;
  top: -100px;
  width: 80px;
  height: 80px;
  animation: 6.5s cubic-bezier(0.3, 0, 0.3, 1) 0s infinite normal none running novaCtaCircleThree;
}

.social-icons {
  width: 700px;
}

@media(max-width:1400px) {
  .contact-image {
    display: none;
  }

  .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
}

.social-icon::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: #fff;
  transition: all .4s cubic-bezier(.3, 0, 0.3, 1);
}

.social-icon:hover::after {
  height: 100%;
  top: 0;
  bottom: auto;
}

.social-icon:hover span {
  color: #000;
  z-index: 9;
}

.social-icon svg {
  margin: 0 10px 0 -10px;
  transform: scale(0.87);
  transition: all .4s cubic-bezier(.3, 0, .3, 1);
  z-index: 2;
}

.social-icon:hover svg {
  background-color: #000;
  color: white;
}

.social-icon:hover svg {
  transform: scale(1);
}

.brand-item span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  z-index: 2;
  opacity: 0;
  background-color: var(--color-primary);
  color: #000;
  transform: translateY(8px) scale(.8);
  transition: all .4s cubic-bezier(.3, 0, .3, 1);
}

.brand-item:hover span {
  opacity: 1;
  transform: translateY(0) scale(1);
  -webkit-transform: translateY(0) scale(1);
}